[blog]
title = example.com
description = My new Blog
owner = A.N. Other
articlesperpage = 8
database = data/site.gob

[captcha]
public =
private =

[comments]
maxlen = 1024
enabled = false

[smtp]
server = localhost:smtp
sender = gold@example.com

[google]
analyticsid =
webmasterid =
