[blog]
title = example.com
subtitle = My new Blog
url =  http://www.example.com
owner = Example User <user@example.com>
articlesperpage = 10
tagsincloud = 20
database = data/site.json

[captcha]
public =
private =

[comments]
maxlen = 1024
allowed = false

[smtp]
server = localhost:smtp
sender = gold@example.com

[google]
analyticsid =
webmasterid =
