{{with .Comments}}
<section>
	<h4>Comments</h4>
	{{range .}}
	<section class="comment">
	<header>
		<p>On <time>{{.PostDate}}</time> {{.Name}} wrote in to say &hellip;</p>
	</header>
	<blockquote>{{.Comment}}</blockquote>
	</section>
	{{end}}
</section>
{{end}}
