{{with .WebmasterID}}
<meta name="google-site-verification" content="{{.}}">
{{end}}
{{with .AnalyticsID}}
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', '{{.}}']);
_gaq.push(['_trackPageview']);
(function() {
	var ga = document.createElement('script');
	    ga.type = 'text/javascript';
	    ga.async = true;
	    ga.src = '//' + ('https:' == document.location.protocol ? 'ssl' : 'www') + '.google-nalytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(ga, s);
})();
</script>
{{end}}
