<title>{{with .Title}}{{.}} &mdash; {{end}}{{.Config.Blog.Title}}</title>
<meta charset="UTF-8">
<meta name="generator" content="gold|blog">

<link rel="stylesheet" type="text/css" href="/assets/style.css" title="Default">
<link rel="alternate" type="application/rss+xml" href="/rss.xml" title="{{.Title}}">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
