<!--[if lt IE 9]>
<script>
(function(){
	var f=document.createElement;
	f('section');
	f('article');
	f('aside');
	f('footer');
	f('header');
	f('nav');
	f('hgroup');
	f('time');
})()
</script>
<![endif]-->