<!DOCTYPE html>
<html>
<head>
{{template "header.tmpl" .}}
{{template "google.tmpl" .Config.Google}}
{{template "ie9hack.tmpl"}}
</head>
<body>
	<header>
	<p id="title"><a href="/">{{.Config.Blog.Title}}</a></p>
	<p id="description">{{.Config.Blog.Description}}</p>
	</header>

{{template "aside.tmpl" .}}

{{with .Article}}
{{template "view.tmpl" .}}
{{end}}

{{range .Articles}}
{{template "preview.tmpl" .}}
{{end}}

{{with .Error}}<p>{{.}}</p>{{end}}

<footer>
	<ul>
	{{with .PrevPage}}<li class="left"><a href="?page={{.}}">&larr; Newer Articles</a></li>{{end}}
	{{with .NextPage}}<li class="right"><a href="?page={{.}}">Older Articles &rarr;</a></li>{{end}}
	<li class="center">Copyright &copy; {{.FirstYear}}&mdash;{{.LastYear}} {{html .Config.Blog.Owner}}</li>
	</ul>
</footer>
</html>
