<!DOCTYPE html>
<html>
<head>
{{template "header.tmpl" .}}
{{template "google.tmpl" .Config.Google}}
{{template "ie9hack.tmpl"}}
</head>
<body>
	<header>
	<p id="blog_title"><a href="/">{{.Config.Blog.Title}}</a></p>
	<p id="blog_subtitle">{{.Config.Blog.Subtitle}}</p>
	</header>

	<aside>
		<section id="archive">
		<h3>Archive</h3>
		<ul>
		{{range .Archive}}
		<li><a href="/{{.Year}}/">{{.Year}}</a><span class="count">{{.Count}}</span></li>
			<ul>
			{{range .Month}}
			<li><a href="/{{.Year}}/{{printf "%.2d" .Month}}/">{{.Month}}</a><span class="count">{{.Count}}</span></li>
				<ul>
				{{range .Articles}}
				<li><a href="{{.FullSlug}}">{{.Title}}</a></li>
				{{end}}
				</ul>
			{{end}}
			</ul>

		{{end}}
		</ul>
		</section>

		<section id="tagcloud">
		<h3>Tag Cloud</h3>
		<ul>
		{{range .TagCloud}}
		<li class="tagcloud_{{.Wight}}"><a href="/tag/{{.Tag}}">{{.Tag}}</a></li>
		{{end}}
		</ul>
		</section>

		<section id="feeds">
		<h3>Feeds</h3>
		<ul>
		<li><a href="/rss.xml">RSS Feed</a></li>
		</ul>
		</section>
	</aside>

{{define "header"}}
	<header>
		<h1><a href="{{.FullSlug}}">{{.Title}}</a></h1>
		<ul>
		<li class="left">Published: <time>{{.PostDate}}</time></li>
		<li class="right">Tagged: {{range .Tags}}<a href="/tag/{{.}}">{{.}}</a> {{end}}</li>
		</ul>
	</header>
{{end}}

{{define "footer"}}
	<footer>
		<ul>
		<li class="left">Comments: <a href="{{.FullSlug}}#comments">{{len .Comments.Enabled}}</a></li>
		</ul>
	</footer>
{{end}}

{{range .Articles}}
	<article>
		{{template "header" .}}
		{{.Spoiler}}
		{{if .HasMore}}
		<p><a href="{{.FullSlug}}">Read the rest of this story &hellip;</a></p>
		{{end}}
		{{template "footer" .}}
	</article>
{{end}}

{{define "comments"}}
	{{with .Enabled}}
	<section>
		<h4>Comments</h4>
		{{range .}}
		<section class="comment">
			<header>
			<p>On <time>{{.PostDate}}</time> {{.Name}} wrote in to say &hellip;</p>
		</header>
		<blockquote>{{.Comment}}</blockquote>
		</section>
		{{end}}
	</section>
	{{end}}
{{end}}

{{with .Article}}
	<article>
		{{template "header" .}}
		{{.Body}}
		{{template "comments" .Comments}}
	</article>
{{end}}

{{with .Error}}<p>{{.}}</p>{{end}}

<footer>
	<ul>
	{{with .PrevPage}}<li class="left"><a href="?page={{.}}">&larr; Newer Articles</a></li>{{end}}
	{{with .NextPage}}<li class="right"><a href="?page={{.}}">Older Articles &rarr;</a></li>{{end}}
	<li class="center">Copyright &copy; {{.FirstYear}}&mdash;{{.LastYear}} {{html .Config.Blog.Owner}}</li>
	</ul>
</footer>
</html>
