<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
{{$url := .Url}}
<channel>
	<title>{{.Title}}</title>
	<link>{{$url}}</link>
	<description>{{.Subtitle}}</description>
	{{range .Articles}}
	<item>
		<title>{{.Title}}</title>
		<link>{{$url}}/{{.Slug}}</link>
		<description>{{html .Spoiler}}</description>
		{{range .Tags}}
		<category>{{.}}</category>
		{{end}}
		<comments>{{$url}}/{{.Slug}}#comments</comments>
		<pubDate>{{.RssDate}}</pubDate>
	</item>
	{{end}}
</channel>
</rss>
