<article>
<header>
	<h1><a href="{{.FullSlug}}">{{.Title}}</a></h1>
	<ul>
	<li class="left">Published:
	   <time>{{.PostDate}}</time></li>
	<li class="right">Tagged:
	   {{range .Tags}}<a href="/tag/{{.}}">{{.}}</a> {{end}}</li>
	</ul>
</header>
	{{.Body}}
	{{template "comments.tmpl" .}}
</article>
