<!DOCTYPE html>
<html>
<head>
	<title>{{.Title}}</title>
</head>
<body>
<ul>
{{range .Articles}}
	<li>{{.PostDate}} {{.Enabled}} <a href="/admin/{{.Slug}}">{{.Title}}</a> {{.Tags}}</li>
{{end}}
</ul>
{{with .Error}}
	<p>{{.}}</p>
{{end}}
{{with .Article}}
{{template "edit.tmpl" .}}
{{end}}
</html>
