<!DOCTYPE html>
<html>
<head>
	<title>{{.Title}}</title>
</head>
<body>
<ul>
{{range .Articles}}
	<li>
		{{if .Enabled}}{{else}}<s>{{end}}
		{{.PostDate}} <a href="/admin/{{.Slug}}">{{.Title}}</a> {{.Tags}}
		{{if .Enabled}}{{else}}</s>{{end}}
		<ul>
		{{range .Comments}}
			<li>
			{{if .Enabled}}{{else}}<s>{{end}}
			{{.PostDate}} {{.Name}}
			{{if .Enabled}}{{else}}</s>{{end}}
			</li>
		{{end}}
		</ul>
	</li>
{{end}}
</ul>
{{with .Error}}
	<p>{{.}}</p>
{{end}}
{{with .Article}}
{{template "edit.tmpl" .}}
{{end}}
</html>
