<!DOCTYPE html>
<html>
{{template "header.tmpl" .}}
<body>
<h1>{{.Title}}</h1>
<ul>
{{range .Articles}}
	<li>
		{{if not .Enabled}}<s>{{end}}
		{{.PostDate}} <a href="/admin/{{.Slug}}">{{.Title}}</a> {{.Tags}}
		{{if not .Enabled}}</s>{{end}}
		<ul>
		{{range .Comments}}
			<li>
			{{if .Enabled}}{{else}}<s>{{end}}
			{{.PostDate}} {{.Name}}
			{{if .Enabled}}{{else}}</s>{{end}}
			</li>
		{{end}}
		</ul>
	</li>
{{end}}
</ul>
{{with .Error}}
	<p>{{.}}</p>
{{end}}
{{with .Article}}
{{template "edit.tmpl" .}}
{{end}}
</html>
