<!DOCTYPE html>
<html>
{{template "header.tmpl" .}}
<body>
	<header>
	<p id="blog_title"><a href="/">{{.Config.Blog.Title}}</a></p>
	<p id="blog_subtitle">{{.Config.Blog.Subtitle}}</p>
	</header>

	<aside>
		<section id="archive">
		<h3>Archive</h3>
		<ul>
		{{range .Archive}}
		<li><a href="/{{.Year}}/">{{.Year}}</a> ({{.Count}})</li>
			<ul>
			{{range .Month}}
			<li><a href="/{{.Year}}/{{printf "%.2d" .Month}}/">{{.Month}}</a> ({{.Count}})</li>
				<ul>
				{{range .Articles}}
				<li><a href="{{.FullPath}}">{{.Title}}</a></li>
				{{end}}
				</ul>
			{{end}}
			</ul>

		{{end}}
		</ul>
		</section>

		<section id="tagcloud">
		<h3>Tag Cloud</h3>
		<ul>
		{{range .TagCloud}}
		<li class="tagcloud_{{.Wight}}"><a href="/tag/{{.Tag}}">{{.Tag}}</a></li>
		{{end}}
		</ul>
		</section>

		<section id="feeds">
		<h3>Feeds</h3>
		<ul>
		<li><a href="/rss.xml">RSS Feed</a></li>
		</ul>
		</section>
	</aside>

{{$nar := len .Articles.Enabled}}
{{$url := .Config.Blog.Url}}
{{range .Articles.Enabled}}
	<article>
		<header>
			<h1><a href="{{.FullPath}}">{{.Title}}</a></h1>
			<ul>
			<!--li class="social">
				<a class="facebook" href="//www.facebook.com/sharer.php?u={{$url}}{{.FullPath}}" title="Share at Facebook" target="_blank">&#62222;</a>
				<a class="twitter" href="//twitter.com/share?url={{$url}}{{.FullPath}}" title="Share at Twitter" target="_blank">&#62217;</a>
				<a class="twitter" href="//plus.google.com/share?url={{$url}}{{.FullPath}}" title="Share at Google+" target="_blank">&#62223;</a>
			</li-->
			<li class="pubdate">Published: <time>{{.PostDate}}</time></li>
			</ul>
		</header>
		{{if eq $nar 1}}
			{{.Body}}
			{{with .Comments.Enabled}}
			<article id="comments">
			<h4>Comments</h4>
				{{range .}}
				<article>
				<header>
				<p>On <time>{{.PostDate}}</time> {{.Name}} wrote in to say &hellip;</p>
				</header>
				<blockquote>{{.Comment}}</blockquote>
				</article>
				{{end}}
			</article>
			{{end}}
		{{else}}
			{{.Spoiler}}
			{{if .HasMore}}
				<p><a href="{{.FullPath}}">Read the rest of this story &hellip;</a></p>
			{{end}}

			<footer>
			<ul>
			<li class="comments_count">
			Comments: <a href="{{.FullPath}}#comments">{{len .Comments.Enabled}}</a>
			</li>
			<li class="tags">
			Tagged: {{range .Tags}}<a href="/tag/{{.}}">{{.}}</a> {{end}}
			</li>
			</ul>
			</footer>
		{{end}}
	</article>

{{end}}

	{{with .Error}}
	<p>{{.}}</p>
	{{end}}

<footer>
	<ul>
	<li class="prevpage">{{with .PrevPage}}<a href="?page={{.}}">&larr; Newer Articles</a>{{end}}</li>
	<li class="nextpage">{{with .NextPage}}<a href="?page={{.}}">Older Articles &rarr;</a>{{end}}</li>
	<li>Copyright &copy; {{.FirstYear}}&mdash;{{.LastYear}} {{html .Config.Blog.Owner}}</li>
	</ul>
</footer>
</html>
