<!DOCTYPE html>
<html>
{{template "header.tmpl" .}}

<body>

<article>
{{range .Articles}}
	{{.ReadMore}}
	<p>Published {{.Date}}</p>

	<p>Tagged: {{range .Tags}}<a href="/tag/{{.}}">{{.}}</a> {{end}}</p>
{{end}}
</article>

{{with .Error}}
	<p>{{.}}</p>
{{end}}

</html>
